<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            {% block extrascripts %}{% endblock %}
        {% endblock %}

        <style>
            body {
                background-image: url(/img/dust_scratches.png);
                background-attachment: fixed;
            }

            body > div.container {
                min-height: 80vh;
            }

            .icon-button {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                outline: none;
                border: 0;
                background: transparent;
            }

            .no-padding {
                padding-left: 0px;
                padding-right: 0px;
            }
        </style>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-transparent bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">player</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('listen') }}">Listen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('manage_index') }}">Manage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_profile_edit') }}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block div_container %}{% endblock %}

        {% block footer %}
            <footer class="footer">
                <hr>
                <div class="container">
                    <span class="text-muted"><p>Place footer content here.</p></span>
                </div>
            </footer>
        {% endblock %}
    </body>

    <script>
        $(document).ready(
            function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
</html>
