{% extends 'base.html.twig' %}

{% block title %}Listen | {{ project_name }}{% endblock %}

{% block div_container %}
    <div class="container">
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="playlists" role="tablist">
                    {% for playlist in playlists %}
                        <a class="list-group-item list-group-item-action" id="{{ playlist.id }}-list" data-toggle="list" href="#list-{{ playlist.id }}" role="tab" aria-controls="home">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ playlist.name }}</h5>
                                <small>3 days ago</small>
                            </div>
                            <small>This is a playlist.</small>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="card col-9">
                <div class="tab-content" id="nav-tabContent">
                    {% for playlist in playlists %}
                        <div class="tab-pane fade" id="list-{{ playlist.id }}" role="tabpanel" aria-labelledby="list-{{ playlist.id }}">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Songs in {{ playlist.name }}
                                </h4>
                                <br/>
                                <div class="card-text">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr class="d-flex">
                                            <th class="col-1">#</th>
                                            <th class="col-9">File Name</th>
                                            <th class="col-2 text-right">Length</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for audio in playlist.audios %}
                                            <tr class="d-flex hover-play">
                                                <td class="col-1">
                                                    <span>{{ loop.index }}</span>
                                                    <span class="oi oi-media-play" onclick="setIndex({{ loop.index0 }})" style="display: none;"></span>
                                                </td>
                                                <td class="col-9"><span class="audio-item" data-toggle="tooltip" data-placement="top" data-file="{{ audio.filename }}" data-title="{{ audio.name }}">{{ audio.name }}</span></td>
                                                <td class="col-2 text-right">{{ audio.length | sectotime}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function(){
                    $('div#playlists a:first').addClass('active');
                    $('div#nav-tabContent div:first').addClass('show').addClass('active');

                    var playlist_links = $('a.list-group-item');
                    updatePlaylist(playlist_links[0].getAttribute('href'));
                    playlist_links.each(function(key, value){
                        $(value).on('click', function(){
                            updatePlaylist(value.getAttribute('href'));
                        });
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="fixed-bottom">
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4 offset-xl-1 col-lg-5">
                    <div id="title">
                        <span id="track"></span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 text-center">
                    <div class="controlsOuter">
                        <div class="controlsInner">
                            <span id="shuffleBtn" class="spacedx2 oi oi-random"></span>
                            <span id="prevBtn"    class="spaced oi oi-media-step-backward"></span>
                            <span id="playBtn"    class="spaced oi oi-media-play"></span>
                            <span id="pauseBtn"   class="spaced oi oi-media-pause" style="display: none;"></span>
                            <span id="nextBtn"    class="spaced oi oi-media-step-forward"></span>
                            <span id="repeatBtn"  class="spacedx2 oi oi-reload"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="row">
                        <div class="col-3">
                            <div class="sound-controls">
                                <span class="oi oi-volume-high"></span>
                                <span id="volumeSlider" data-slider-id="volumeSlider" data-slider-min="0"
                                      data-slider-max="100" data-slider-step="5" data-slider-value="100"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <span id="timer">0:00 </span>
                            <div class="progress progressBar" id="progressBar" style="padding-top: 5px; padding-bottom: 5px;">
                                <div class="progress-bar bg-dark" id="progress" role="progressbar" style="height: 3px;"></div>
                            </div>
                            <span id="duration"> 0:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.min.css" integrity="sha256-pO9/5PQba+AqEbehe+LDIXgbKSXTlmwgoeayBfGRwjw=" crossorigin="anonymous" />

    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 76px;
        }

        .slider-horizontal {
            width: 50% !important;
        }

        .slider-track {
            background: #F5F5F5;
            margin-top: -3px !important;
            height: 2px !important;
        }

        .slider-selection {
            background: #212529;
        }

        .slider-handle {
            background: #212529;
            width: 5px;
            height: 1em;
            margin-left: 0px !important;
        }

        span.spaced {
            margin: 0 5px 0 5px;
        }

        span.spacedx2 {
            margin: 0 8px 0 8px;
        }

        div.progressBar {
            display: inline-block;
            width: 70%;
        }
    </style>
{% endblock %}

{% block extrascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.9/howler.core.min.js" integrity="sha256-mNkr4R+qixqsRzGF1i48AkZuexryKmdpB7J2FO3Obm4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/bootstrap-slider.min.js" integrity="sha256-NiU5YXcnxmS7LbwmzIDncQxjSF32v/p1TtCB76q9X/4=" crossorigin="anonymous"></script>

    <script src="/js/player.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            document.getElementById('progressBar').addEventListener('click', function (e) {
                var coordinates = this.getBoundingClientRect();
                var x = e.pageX - coordinates.x;

                var clickedValue = x / coordinates.width;
                console.log(clickedValue);
                window.player.seek(clickedValue);
            });
        });
    </script>
    <script type="text/javascript">
        function updatePlaylist(playlistSelector) {
            var playlist = [];
            $('div' + playlistSelector + ' span.audio-item').each(function(key, audio){
                var audioObj = $(audio);
                playlist.push({
                    title: audioObj.attr('data-title'),
                    file:  '/audio/' + audioObj.attr('data-file'),
                    howl: null
                });
            });
            window.player = new Player(playlist);
        }

        function setIndex(ind) {
            window.player.pause();
            window.player.index = ind;
            window.player.play(ind);
        }

        $(document).ready(function(){
            $('.hover-play').each(function(idx, row){
                var cell = $(row).children().first();

                $(row)
                    .mouseover(function(){
                        $(cell).children().first().hide();
                        $(cell).children().last().show();
                    })
                    .mouseout(function(){
                        $(cell).children().first().show();
                        $(cell).children().last().hide();
                    });
            });

            $('span#prevBtn').click(function(){
                window.player.skip('prev');
            });

            $('span#playBtn').click(function(){
                window.player.play(window.player.index);
            });

            $('span#pauseBtn').click(function(){
                window.player.pause();
            });

            $('span#nextBtn').click(function(){
                window.player.skip('next');
            });

            var volumeSlider = $('span#volumeSlider');
            volumeSlider.slider({
                max: 100,
                value: 100,
                tooltip: 'show',
                handle: 'square'
            });
            volumeSlider.on('change', function(event){
                window.player.volume(event.value.newValue / 100);
            })
        });
    </script>
{% endblock %}