{% extends 'base.html.twig' %}

{% block title %}Edit Profile | {{ project_name }}{% endblock %}

{% block div_container %}
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card-body">
                <h4 class="card-title">Edit Profile</h4>
                <p class="card-text">
                    {% block fos_user_content %}
                        {% trans_default_domain 'FOSUserBundle' %}

                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

                        <div class="form-group row">
                            {% if form.name.vars.errors|length %}
                                <div class="alert alert-danger col-sm-12" role="alert">
                                    {{ form_errors(form.name) }}
                                </div>
                            {% endif %}
                            <label class="col-sm-4 col-form-label">{{ form_label(form.name) }}</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {% if form.bio.vars.errors|length %}
                                <div class="alert alert-danger col-sm-12" role="alert">
                                    {{ form_errors(form.bio) }}
                                </div>
                            {% endif %}
                            <label class="col-sm-4 col-form-label">{{ form_label(form.bio) }}</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.bio, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {% if form.current_password.vars.errors|length %}
                                <div class="alert alert-danger col-sm-12" role="alert">
                                    {{ form_errors(form.current_password) }}
                                </div>
                            {% endif %}
                            <label class="col-sm-4 col-form-label">{{ form_label(form.current_password) }}</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        {{ form_widget(form) }}
                        <div>
                            <button class="btn btn-dark" type="submit">Update</button>
                        </div>
                        {{ form_end(form) }}
                    {% endblock fos_user_content %}
                </p>
            </div>
        </div>
        <div class="card col-3 ml-auto">
            <img class="card-img-top" src="/img/listen_headphones.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Start listening?</h4>
                <p class="card-text">Go to listen page to start listening your favourite songs.</p>
                <a href="{{ path('listen') }}" class="btn btn-outline-secondary btn-block">Listen</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}