{% extends 'base.html.twig' %}

{% block title %}Manage | {{ project_name }}{% endblock %}

{% block div_container %}
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="card col-md-9 no-padding">
                <div class="card-header">
                    Playlists
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>Order</td>
                            <td>Playlist name</td>
                            <td>Number of songs</td>
                            <td class="text-right">Date created</td>
                            <td class="text-right">Actions</td>
                        </tr>
                        </thead>
                        <tbody id="playlist_list">
                        {% for playlist in playlists %}
                            <tr>
                                <td><span class="oi oi-resize-height order-handle"></span></td>
                                <td>{{ playlist.name }}</td>
                                <td>{{ playlist.audios | length }}</td>
                                <td class="text-right">{{ playlist.createdAt |date('Y-m-d')}}</td>
                                <td class="text-right">
                                    <span class="oi oi-pencil" data-toggle="popover" data-placement="bottom" data-original-title="Edit Playlist"   data-html="true" data-content='{{ render(controller('AppBundle\\Controller\\PlaylistController::editAction',   {'playlist': playlist})) }}'></span>
                                    {{ render(controller('AppBundle\\Controller\\PlaylistController::deleteAction',   {'playlist': playlist})) }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-12 text-right">
                        <span data-toggle="popover" data-placement="left" data-original-title="New Playlist" data-html="true"
                              data-content='{{ render(controller('AppBundle\\Controller\\PlaylistController::newAction')) }}'>
                            Create <span class="oi oi-plus"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card col-md-3 no-padding">
                <div class="card-header">
                    Upload an Audio
                </div>
                <div class="card-body text-center">
                    {{ render(controller('AppBundle\\Controller\\AudioController::newAction')) }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="card col-md-12 no-padding">
                <div class="card-header">
                    Uploaded audios
                </div>

                <div class="card-body">
                    <nav class="nav nav-tabs" id="myTab" role="tablist">
                        <a class="nav-item nav-link" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                        {% for playlist in playlists %}
                            <a class="nav-item nav-link" id="{{ playlist.name }}-tab" data-toggle="tab" href="#{{ playlist.name }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ playlist.name }}</a>
                        {% endfor %}
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="nav-home-tab">
                            <br/>
                            <table class="table thead-light">
                                <tr class="row">
                                    <th class="col-1">#</th>
                                    <th class="col-3">Name</th>
                                    <th class="col-1">Length</th>
                                    <th class="col-5">Playlists</th>
                                    <th class="col-2 text-right">Actions</th>
                                </tr>

                                {% for audio in user.audios %}
                                    <tr class="row">
                                        <td class="col-1">{{ loop.index }}</td>
                                        <td class="col-3">{{ audio.name }}</td>
                                        <td class="col-1">{{ audio.length |sectotime}}</td>
                                        <td class="col-5">
                                            {% for audioPlaylist in audio.playlists %}
                                                <span class="badge badge-success">{{ audioPlaylist.name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td class="col-2 text-right">
                                            <span data-toggle="popover" data-placement="top" data-original-title="Edit Audio" data-html="true" class="btn"
                                                  data-content='{{ render(controller('AppBundle\\Controller\\AudioController::editAction', {'id': audio.id})) }}'>
                                                <span class="oi oi-pencil"></span>
                                            </span>
                                            {{ render(controller('AppBundle\\Controller\\AudioController::deleteAction', {'audio': audio})) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                        {% for playlist in playlists %}
                            <div class="tab-pane fade" id="{{ playlist.name }}" role="tabpanel" aria-labelledby="nav-home-tab">
                                <table class="table table-striped">
                                    <tr class="row">
                                        <th class="col-1">#</th>
                                        <th class="col-3">Name</th>
                                        <th class="col-1">Length</th>
                                        <th class="col-5">Playlists</th>
                                        <th class="col-2 text-right">Actions</th>
                                    </tr>

                                    {% for audio in playlist.audios %}
                                        <tr class="row">
                                            <td class="col-1">{{ loop.index }}</td>
                                            <td class="col-3"><a href="{{ path('audio_edit', {'id': audio.id}) }}">{{ audio.name }}</a></td>
                                            <td class="col-1">{{ audio.length |sectotime}}</td>
                                            <td class="col-5">
                                                {% for audioPlaylist in audio.playlists %}
                                                    <span class="badge badge-success">{{ audioPlaylist.name }}</span>
                                                {% endfor %}
                                            </td>
                                            <td class="col-2 text-right">
                                                <span data-toggle="popover" data-placement="top" data-original-title="Edit Audio" data-html="true"
                                                      data-content='{{ render(controller('AppBundle\\Controller\\AudioController::editAction', {'id': audio.id})) }}' class="btn">
                                                    <span class="oi oi-pencil"></span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}

                        <script type="text/javascript">
                            $(document).ready(function(){
                                $('nav#myTab a:first').addClass('active');
                                $('div#nav-tabContent div:first').addClass('show').addClass('active');
                            });
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>
    <script>
        $(document).ready(function(){
            var el = document.getElementById('playlist_list');
            var sortable = Sortable.create(el, {
                handle: '.order-handle'
            });
        });
    </script>
{% endblock %}

