{% extends 'base.html.twig' %}

{% block title %}Register | {{ project_name }}{% endblock %}

{% block div_container %}
    <div class="container">
        <div class="row"><br/><br/><br/></div>

        <div class="row">
            <div class="col-8">
                <div class="card-body">
                    <h4 class="card-title">Register</h4>
                    <p class="card-text">
                        {% block fos_user_content %}
                            {% trans_default_domain 'FOSUserBundle' %}

                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                            <hr>

                            <div class="form-group row">
                                {% if form.email.vars.errors|length %}
                                    <div class="alert alert-danger col-sm-12" role="alert">
                                        {{ form_errors(form.email) }}
                                    </div>
                                {% endif %}
                                <label class="col-sm-4 col-form-label">{{ form_label(form.email) }}</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'johndoe@example.com'} }) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {% if form.name.vars.errors|length %}
                                    <div class="alert alert-danger col-sm-12" role="alert">
                                        {{ form_errors(form.name) }}
                                    </div>
                                {% endif %}
                                <label class="col-sm-4 col-form-label">{{ form_label(form.name) }}</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'John Doe'} }) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {% if form.plainPassword.first.vars.errors|length %}
                                    <div class="alert alert-danger col-sm-12" role="alert">
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                {% endif %}
                                <label class="col-sm-4 col-form-label">{{ form_label(form.plainPassword.first) }}</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': '******'} }) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {% if form.plainPassword.second.vars.errors|length %}
                                    <div class="alert alert-danger col-sm-12" role="alert">
                                        {{ form_errors(form.plainPassword.second) }}
                                    </div>
                                {% endif %}
                                <label class="col-sm-4 col-form-label">{{ form_label(form.plainPassword.second) }}</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': '******'} }) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {% if form.bio.vars.errors|length %}
                                    <div class="alert alert-danger col-sm-12" role="alert">
                                        {{ form_errors(form.bio) }}
                                    </div>
                                {% endif %}
                                <label class="col-sm-4 col-form-label">{{ form_label(form.bio) }}</label>
                                <div class="col-sm-8">
                                    {{ form_widget(form.bio, {'attr': {'class': 'form-control', 'placeholder': 'A short bio.'} }) }}
                                </div>
                            </div>

                            <div>
                                <input type="submit" class="btn btn-dark" value="{{ 'registration.submit'|trans }}" />
                            </div>
                            {{ form_end(form) }}
                        {% endblock fos_user_content %}
                    </p>
                </div>
            </div>
            <div class="card col-3 ml-auto">
                <img class="card-img-top" src="/img/login-icon-3048.png" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Already have an account?</h4>
                    <p class="card-text">Login to stream your favorite songs for free.</p>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-secondary btn-block">Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}