{% extends 'base.html.twig' %}

{% block title %}Manage | {{ project_name }}{% endblock %}

{% block div_container %}
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav class="nav nav-tabs" id="myTab" role="tablist">
                    {% for playlist in playlists %}
                        {% if loop.first %}
                            <a class="nav-item nav-link active" id="{{ playlist.name }}-tab" data-toggle="tab" href="#{{ playlist.name }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ playlist.name }}</a>
                        {% else %}
                            <a class="nav-item nav-link"        id="{{ playlist.name }}-tab" data-toggle="tab" href="#{{ playlist.name }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ playlist.name }}</a>
                        {% endif %}
                    {% endfor %}
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    {% for playlist in playlists %}
                        {% if loop.first %}
                            <div class="tab-pane fade show active" id="{{ playlist.name }}" role="tabpanel" aria-labelledby="nav-home-tab">
                            </div>
                        {% else %}
                            <a class="nav-item nav-link"        id="{{ playlist.name }}-tab" data-toggle="tab" href="#{{ playlist.name }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ playlist.name }}</a>
                        {% endif %}
                    {% endfor %}


                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
            </div><!-- /col -->

        </div>
    </div>
{% endblock %}

