{% extends 'base.html.twig' %}

{% block title %}Manage | {{ project_name }}{% endblock %}

{% block div_container %}
    <br/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="card col-md-9">
                <br/>
                <nav class="nav nav-tabs" id="myTab" role="tablist">
                    {% for playlist in playlists %}
                        <a class="nav-item nav-link" id="{{ playlist.name }}-tab" data-toggle="tab" href="#{{ playlist.name }}" role="tab" aria-controls="nav-home" aria-selected="true">{{ playlist.name }}</a>
                    {% endfor %}
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    {% for playlist in playlists %}
                        <div class="tab-pane fade" id="{{ playlist.name }}" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Length</th>
                                    <th>Playlists</th>
                                </tr>

                                {% for audio in playlist.audios %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td><a href="{{ path('audio_edit', {'id': audio.id}) }}">{{ audio.name }}</a></td>
                                        <td>{{ audio.length }}</td>
                                        <td>
                                            {% for audioPlaylist in audio.playlists %}
                                                <span class="badge badge-success">{{ audioPlaylist.name }}</span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endfor %}

                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('nav#myTab a:first').addClass('active');
                            $('div#nav-tabContent div:first').addClass('show').addClass('active');
                        });
                    </script>
                </div>
            </div>
            <div class="card col-md-3">
                {{ render(controller(
                'AppBundle\\Controller\\AudioController::newAction'
                )) }}
            </div>
        </div>
    </div>
{% endblock %}

