{{ form_start(edit_form, {'action': path('audio_edit', {'id': audio.id}), 'method': 'POST', 'attr': {'class': 'form-inline'}}) }}
<div class="form-group row col-12">
    <label for="title" class="col-2 col-form-label">Title</label>
    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control col-10', 'placeholder': 'Title'}}) }}
</div>

<div class="form-group row col-12">
    <ul>
    {% for checkbox in edit_form.playlists %}
        <li class="custom-control custom-checkbox justify-left">
            {{ form_widget(checkbox, {'attr': {'class': 'custom-control-indicator col-2'}}) }}
            {{ form_label(checkbox, {}, {'attr': {'class': 'custom-control-description col-10'}}) }}
        </li>
    {% endfor %}
    </ul>
</div>

<button type="submit" class="btn btn-dark">Save</button>
{{ form_end(edit_form) }}

<style>
    .justify-left {
        justify-content: baseline !important;
    }
</style>